<<<<<<< HEAD
/* Ashrakat section2 page 1 */ 
.section2_page2_row1_col1{
    color: #92856a;
    font-weight: bold;
}

.page_2_paragraph1{
    font-size: 12px;
=======
.section2_page2_row1_col1{
    color: #92856a;
    font-weight: bold;
    background-color: transparent;
}

.page_2_paragraph1{
    font-size: 9px;
>>>>>>> 5972a4e254f82a17658c31541135ca758abf4f03
}

#sharedBox{
    display: inline;
}

<<<<<<< HEAD
#colorIcon{
    color: #92856a;
    padding: 4px;
}


.assignHeightToCol{
 height: 309px;    
}

.feb17{
  font-weight: bold;
  font-size: 12px;
  color: #92856a;    
}

.navbar{
 display: block;    
}

.navbar a{
  color: #92856a;
  margin-left: 15px;    
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover{
  color: #92856a;   
}

.smallImgcol{
    height: 580px;
}

/* the end of section 2 page 1 */
/* Salma Part "Awards & Sons */
=======
>>>>>>> 5972a4e254f82a17658c31541135ca758abf4f03
.pragh{
    font-size: 10px;
}

.icons_color{
	color: #92856a;
 	font-weight: bold;
	padding: 4px;
}

.headers_color{
	color: #92856a;
 	font-weight: bold;
}

.col-md-2{
	margin-right: 0px;
  	margin-left: 0px;
	padding-right: 0px;
  	padding-left: 0px;
}

.box{
	padding-left: 10px;
}
<<<<<<< HEAD
/* end of salma part */
=======

>>>>>>> 5972a4e254f82a17658c31541135ca758abf4f03
