.section2_page2_row1_col1{
    color: #92856a;
    font-weight: bold;
    background-color: transparent;
}

.page_2_paragraph1{
    font-size: 9px;
}

#sharedBox{
    display: inline-block;
}


/***Nooor part****/
.page4{
    color: #92856a;
    font-weight: bold;
    font-size: 20px;
}

.pragh{
    font-size: 12px;
}

.thumbnaiover {
    background-color: gray; 
    z-index: 1; /* Added Lower Z-Index Value */
}

.mycontent-right {
  font-family: Myriad Pro ;
  font-weight: bold ;
  font-size: 30px ; 
  color: #92856a;
  white-space: pre-wrap; 
  border-right: 2px solid #92856a;
}

.title{
    font-size: 20px;
    color: black ; 
}
.icon-box{
    color: #92856a;
    font-size: 18px;
}
    
.plus_icon{
    color: #92856a;
    font-size: 18px;
    margin-right: 0px;
}

.toright{
    color: #92856a;
    margin-right: 0px;   
}
.overlap{
    background-color: white ;
    opacity: 0.8; 
    margin-left:-55px; 
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e1e3e4 ;  
}
.overlapup{
    background-color: white ;
    opacity: 0.9; 
    margin-top:-25px; 
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e1e3e4 ;  
}
.incol{
}
.photo{
    width: 94% ;
    
}
.colum1{
    width: 410px; 
    height: 300px;
    margin-left: 15px;
}
.colum2{
    width: 410px; 
    height: 490px;
    margin-left:550px;
    margin-top: -300px;
}

/***end of noor part **/

#colorIcon , .icons_color{
    color: #92856a;
    padding: 5px;
}


.assignHeightToCol{
 height: 315px;    
}

.feb17{
  font-weight: bold;
  font-size: 12px;
  color: #92856a;    
}

.navbar{
 display: block;    
}

.navbar a{
  color: #92856a;
  margin-left: 15px;    
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover{
  color: #92856a;   
}

.smallImgcol{
    height: 600px;
}

/* the end of section 2 page 1 */
/* section 4 page 1 "home page"*/

.imgController{
    position: relative;
}

.textBottomInImg{
    position: absolute;
    bottom: -20px;
    margin-left: 5px;
    background-color: rgb(255,255,255,0.4);
    width:90%;
    padding:10px;
}

.section4_page2_paragraph{
    padding-top: 5px;
    font-weight: bold;
    font-size: 14px;
}

a i{
    color:black;
    float:right;
    margin-right:10px;
}

.smallTextcol{
    height: 375px;
}

.adjustColText{
    padding: 20px;
}

/* the end of section 4 page 1 "home page" */

/* Salma Part "Awards & Sons */
.pragh{
    font-size: 12px;
}

.headers_color{
	color: #92856a;
 	font-weight: bold;
}

.col-md-2{
	margin-right: 0px;
  	margin-left: 0px;
	padding-right: 0px;
  	padding-left: 0px;
}

.box{
	padding-left: 10px;
}

/* end of salma part */

/* seif part "header*/
.big
{
  position:absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
.small
{
  position:absolute;
  top: 25px;
  left: 100px;
  z-index: 2;
}

.small2
{
  position:absolute;
  top: 25px;
  right: 100px;
  z-index: 2;
}
/* end of header */

/*Ashrakat page 5 speeches section 2 */
.transparant .thumbnail , .transparant3 .thumbnail{
    border: none; 
    position: relative;
    padding-bottom: 10px;
}

.transparant2 .thumbnail {
    background-color: rgb(255,255,255,0.4);
    margin-left:-50px; 
}

.transparant3 .thumbnail img{
    min-height:206.73px;
    min-width: 254.73px;
}

.transparant2 .page5_sec2_2r {
    background-color: rgb(255,255,255,0.4);
    position: absolute;
    bottom: -5px;
    border-bottom: 0.25px solid ghostwhite;
    border-left: 0.25px solid ghostwhite;
    border-right: 0.25px solid ghostwhite;
    width: 85%;
    margin-left: 7px;
    padding:5px;
}


.transparant2 .thumbnail p{
    font-size: 20px;
    font-style: normal;
    padding: 15px;
}

.transparant2 .page5_sec2_2r p{
    font-size: 12px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

#swapImg{
   min-width: 547px;
   max-height: 364.72px;    
}

/* End of page 5 speeches section2 */
#counterValue , .transparant2 .thumbnail span{
 color: #92856a;
 font-weight: bold;
}

.transparant2 .thumbnail span{
    font-size: 20px;
    font-weight: normal;    
}
